.env
appdata/recyclarr/secrets.yml
secrets/cf_dns_api_token
secrets/recyclarr/sonarr_api_key
secrets/recyclarr/sonarr_4k_api_key
secrets/recyclarr/radarr_api_key
secrets/recyclarr/radarr_4k_api_key
secrets/radarr_4k_api_key
secrets/radarr_api_key
secrets/sonarr_4k_api_key
secrets/sonarr_api_key
secrets/basic_auth_credentials
secrets/postgres_default_passwd
